[data-layout=vertical][data-sidebar=dark] .navbar-nav .nav-link.active {
  background: rgba(0, 0, 0, 0.25)!important;
  color: var(--vz-vertical-menu-item-active-color-dark)!important;
}
.auth-one-bg {
  background-image: none!important;
}